<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.yanzx.cunzhao.dao.ProfileDao">

<!--    <insert id="createSign" useGeneratedKeys="true" keyProperty="signId">-->
<!--        INSERT INTO `sign_detail`-->
<!--            (`user_id`, `sign_date`)-->
<!--        VALUES (#{userId}, current_date)-->
<!--    </insert>-->



<!--    <select id="queryExist" resultType="int">-->
<!--        select count(0)-->
<!--        from `sign_detail`-->
<!--        WHERE `user_id` = #{userId}-->
<!--          AND `sign_date` = current_date;-->
<!--    </select>-->






<!--    <select id="getProfileInfo" resultType="com.alibaba.fastjson.JSONObject">-->
    <select id="getProfileInfo" resultType="com.alibaba.fastjson.JSONObject">
        select u.id             user_id,
               u.username       username,
               u.nickname       nickname,
               p.birthday       birthday,
               p.dadish_coins   dadish_coins,
               p.avatar         avatar
        from `sys_user` u
            left join `profile` p on u.id = p.user_id
        where u.id = #{userId}
    </select>



    <update id="addCoin" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE `profile`
        SET
            dadish_coins = dadish_coins + #{num}
        WHERE user_id = #{userId}
    </update>



    <insert id="setDefaultProfile" parameterType="com.alibaba.fastjson.JSONObject">
        insert into `profile`
        (`user_id`, `birthday`)
        VALUES
        (#{userId}, "2001-1-1");
    </insert>

    <update id="updateProfile" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE `profile`
        SET
            birthday = #{birthday}
        WHERE user_id = #{userId}
    </update>


    <update id="updateNickname" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE `sys_user`
        SET
            nickname = #{nickname}
        WHERE id = #{userId}
    </update>

    <update id="updateAvatar" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE `profile`
        SET
            avatar = #{avatarUrl}
        WHERE `user_id` = #{userId}
    </update>


</mapper>
